<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Edit article</h1>
  </div>
</section>

<%= render 'form' %>
<%= render 'links' %>
<div>
  <%= link_to 'Show this article', article_path(@article) %>
</div>
