<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Listing articles</h1>
  </div>
</section>

<%= render 'shared/pagination', obj: @articles %>
<%= render 'article', obj: @articles %>
<%= render 'shared/pagination', obj: @articles %>
