<section class="section">
  <div class='box content is-medium'>
    <h1>
      <%= @article.title %>
    </h1>
    <p>
      <%= @article.description %>
    </p>
  </div>
</section>

<%= render 'links' %>
<div>
  <%= link_to 'Edit this article', edit_article_path(@article) %>
</div>
