<% if obj.errors.any? %>
<article class="message is-danger">
  <div class="message-header">
    <p><%= pluralize(obj.errors.count, "error")%> prevented the <%= obj %> form being created</p>
  </div>
  <div class="message-body">
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
    </ul>
  </div>
</article>
<% end %>
