<div class="section-noflex">
  <h1>About</h1>
  <p>Let's talk about me!</p>
</div>
<div class="section-container">
  <div class="section">
    <p>
      Jesua Betancor Alemán
    </p>
    <p>
      Wants to be a RoR developer!
    </p>
  </div>
  <div class="section">
    <%= image_tag 'accessory-close-up-computer-265686.jpg' %>
  </div>
</div>
