<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">About</h1>
    <h2 class="subtitle">
      Let's talk about <strong>me</strong>!
    </h2>
  </div>
</section>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://avatars3.githubusercontent.com/u/13303162?s=460&v=4" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Jesua Betancor</p>
        <p class="subtitle is-6">https://github.com/quesow</p>
      </div>
    </div>

    <div class="content">
      Wants to be a RoR developer!
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">18:29 PM - 22 Oct 2018</time>
    </div>
  </div>
</div>
