<div class="section-noflex">
  <h1>Home</h1>
  <p>New features soon...</p>
  <%= link_to 'About', about_path %>
</div>
<div class="section-container">
  <div class="section">
      <ul>
        <li>Outstanding</li>
        <li>Exceptionally good</li>
        <li>Marvellous</li>
        <li>Magnificent</li>
      </ul>
  </div>
  <div class="section">
    <%= image_tag 'daytime-flow-h2o-1295138.jpg' %>
  </div>
</div>
