<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>AlphaBlog</strong> by <a href="https://jgthms.com">Jesua Betancor</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      Photos from: <a href="https://www.pexels.com/">https://www.pexels.com/</a>
    </p>
  </div>
</footer>
