<footer>
  <div class="item">Posted by: Jesua Betancor</div>
  <div class="item">Contact information: <a href="mailto:jesuae@example.com">
  jesua@example.com</a>.</div>
  <div class="item">Photos from: <a href="https://www.pexels.com/">https://www.pexels.com/</a>.</div>
</footer>
