<header>
  <h1>Welcome to AlphaBlog</h1>
  <h3>First rails application made with The Complete Ruby on Rails Developer course</h3>
  <p>Take a look in https://www.udemy.com</p>
  </header>
<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Articles', articles_path %>
  <%= link_to 'About', about_path %>
</nav>
